<h1>Show Order</h1>
<h2>Order ID: <%=@order.id%></h2>
<h2>Quantity: <%=@order.quanity%></h2>
<h2>Subtotal: <%=@order.subtotal%></h2>
<h2>Tax: <%=@order.tax%></h2>
<h2>Total: <%=@order.total%></h2>
<h2>Email: <%=@order.user.email%></h2>
<h2>Product: <%=@order.product.name%></h2>
<img src="<%=@order.product.images.first.url%>">
<h2><%=@order.product.created_at%></h2>





On the Order show page, show the subtotal, tax, and total, as well as the email address of who ordered it, the product’s name, the product’s first image and when the purchase occurred.