<% if current_user %>
  <h1>Hi There <%=current_user.name.capitalize%></h1>
  <% @cart_items.each do |item| %>
    <div class="col-md-4">
      <div class="well">
        <h2><%= item.product.name%></h2>
        <% if item.product.images.first %>
        <img class="product_image" src="<%= item.product.images.first.url %>">
        <h2>Quantity: <%=item.quantity%></h2>
        <h2>Subtotal: <%=item.product.price * item.quantity%></h2>
        <h2>Tax: <%=((item.product.price * 0.09)*item.quantity).round(2)%></h2>
        <h2>Total: <%=number_to_currency(((item.product.price * 0.09).round(2)+item.product.price) * item.quantity) %></h2>
        <%= form_tag "/carted_products/#{item.id}", method: :delete do %>
          <input type="submit" value="Remove from cart">
        <% end %>
      </div>
    </div>
    <% end %>
  <% end %>
<% end %>

<%= form_tag "/orders", method: :post do %>
  <input type ="submit" value="Buy Now!">
<% end %>
