<h1>All Products</h1>
<% @products.each_slice(3) do |three_products| %>
<div class="row">
  <% three_products.each do |product| %>
    <div class="col-md-4">
      <div class="well">
        <h2><a href="/products/<%=product.id%>"><%= product.name%></a></h2>
        <h3><%=number_to_currency(product.price)%></h3>
        <img class="product_image" src="<%= product.image %>">
        <p><%=product.description%></p>
        <h4>Made by <%= product.supplier.name %></h4>
        <h6>Added <%= product.friendly_created_at %></h6>
      </div>
    </div>
  <% end %>
</div>
<% end %>
<div><a href="/products/new">Add New Product</a></div>
