<h1>Product Info</h1>
<h1><%= @product.name %></h1>
<h4>Made by <%= @product.supplier.name %></h4>
<% if @product.sale_message %>
  <h3>Discount Item</h3>
  <h3 class="discount-item">Price: <%= number_to_currency(@product.price) %></h3>
<% else %>
  <h3>Everyday Value!</h3>
  <h3>Price: <%= number_to_currency(@product.price) %></h3>
<% end %>
<!-- <h2><%= @product.sale_message %></h2>
<h2><%= number_to_currency(@product.price) %></h2> -->
<h3>Tax: <%= number_to_currency(@product.tax) %></h3>
<h3>Total: <%= number_to_currency(@product.total) %></h3>
<div class="parent">
  <%@product.images.sort.each do |image|%>
    <img class=product_image src="<%= image.url %>">
    <h1><% image.product_id%></h1>
  <% end %>
</div>
<h2><%= @product.description %></h2>
<h2><%= @product.supplier.name %></h2>

 <h4><a href="/products/<%=@product.id%>/edit">Edit Product</a></h4>
 <%= form_tag "/products/#{@product.id}", method: :delete do %>
  <!-- <input type="submit" value="Destroy Product"> -->
 <% end %>
<%= link_to "Destroy Product", "/products/#{@product.id}", method: :delete %>
<div><a href="/products/<%=@product.id%>/images/new">Add New Image</a></div>
<div><a href="/images">All Images</a></div>
<div><a href="/products">Back to Products</a></div>

<%= form_tag "/orders", method: :post do %>
<!--   Product ID: <input type='text' name="product_id" value="<%=@product.id%>">
 -->  Quantity: <input type='integer' name="quanity">
  <input type="hidden" name="product_id" value="<%=@product.id%>">
  <input type ="submit" value="Buy Now!">
<% end %>